streamlit
pandas_profiling
pandas
shap
lightgbm
xgboost
matplotlib
pyod
plotly
seaborn
yellowbrick
datefinder
cufflinks
hyperopt
numpy
boto3
catboost
scipy
joblib
ipywidgets
ipython
scikit_learn==0.22.0
imblearn